#startup-data {
    display: none;
}

/*iframe{*/
    /*pointer-events:none;*/
/*}*/

.videocontent{
    height: auto;
}

.swiper-slide-active{
    border-color: #d62631 !important;
}

.frame-viewer {
    width: 100%;
    height: 100%;
    border: none;
}

.vjs-fullscreen-control {
    display: none;
}

.vjs-default-skin .vjs-volume-control{
    margin-right: 20px !important;
}

.vjs-volume-control {
    margin-right: 20px !important;
}

.ReactModal__Overlay {
    -webkit-perspective: 600;
    z-index: 1000;
    perspective: 600;
    background-color: rgba(0, 0, 0, 0.5) !important;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
}

.ReactModal__Content {
    -webkit-transform: scale(0.5) rotateX(-30deg);
    z-index: 1500;
    background: transparent;
    border:none !important;
}

.ReactModal__Content--after-open {
    -webkit-transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content--before-close {
    -webkit-transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
}


