@charset "utf-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  -ms-touch-action: manipulation !important;
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.ico-arrow {
  width: 68px;
  height: 68px;
  background-position: -5px -5px;
}
.ico-can {
  width: 1475px;
  height: 174px;
  background-position: -83px -5px;
}
.ico-circle {
  width: 392px;
  height: 347px;
  background-position: -5px -189px;
}
.ico-coat {
  width: 123px;
  height: 113px;
  background-position: -1568px -5px;
}
.ico-know {
  width: 1750px;
  height: 146px;
  background-position: -5px -546px;
}
.ico-menu_autocasco {
  width: 160px;
  height: 56px;
  background-position: -1568px -128px;
}
.ico-menu_autocasco_big {
  width: 350px;
  height: 120px;
  background-position: -407px -189px;
}
.ico-menu_autocredit {
  width: 130px;
  height: 57px;
  background-position: -767px -194px;
}
.ico-menu_autocredit_big {
  width: 298px;
  height: 133px;
  background-position: -907px -189px;
}
.ico-menu_bank {
  width: 91px;
  height: 54px;
  background-position: -1215px -194px;
}
.ico-menu_bank_big {
  width: 233px;
  height: 139px;
  background-position: -1316px -189px;
}
.ico-menu_consumer-credit {
  width: 100px;
  height: 55px;
  background-position: -1559px -194px;
}
.ico-menu_consumer-credit_big {
  width: 264px;
  height: 144px;
  background-position: -407px -338px;
}
.ico-menu_deposits {
  width: 73px;
  height: 56px;
  background-position: -1669px -194px;
}
.ico-menu_deposits_big {
  width: 161px;
  height: 126px;
  background-position: -1559px -260px;
}
.ico-menu_microfinance {
  width: 62px;
  height: 56px;
  background-position: -1215px -260px;
}
.ico-menu_microfinance_big {
  width: 169px;
  height: 152px;
  background-position: -5px -702px;
}
.ico-menu_mortgage {
  width: 61px;
  height: 54px;
  background-position: -681px -396px;
}
.ico-menu_mortgage_big {
  width: 165px;
  height: 147px;
  background-position: -184px -702px;
}
.ico-menu_osago {
  width: 113px;
  height: 56px;
  background-position: -752px -396px;
}
.ico-menu_osago_big {
  width: 305px;
  height: 140px;
  background-position: -875px -396px;
}
.ico-menu_payments {
  width: 64px;
  height: 54px;
  background-position: -1190px -396px;
}
.ico-menu_payments_big {
  width: 166px;
  height: 139px;
  background-position: -1264px -396px;
}
.ico-menu_pension {
  width: 73px;
  height: 54px;
  background-position: -1440px -396px;
}
.ico-menu_pension_big {
  width: 203px;
  height: 151px;
  background-position: -359px -702px;
}
.ico-nav_left {
  width: 47px;
  height: 47px;
  background-position: -1701px -5px;
}
.ico-want {
  width: 1499px;
  height: 174px;
  background-position: -184px -863px;
}

.ico-menu_kids_card{
  background-image: url(../img/sprite/kids_card.jpg) !important;
  background-repeat: no-repeat;
  background-size: contain;
  width: 189px;
  height: 184px;
}

.ico-menu_kids_deposits{
  background-image: url(../img/sprite/kids_deposit.jpg)  !important;
  background-size: contain;
  width: 167px;
  height: 209px;
}

.ico-menu_kids_insurance{
  background-image: url(../img/sprite/kids_insurance.jpg)  !important;
  background-repeat: no-repeat;
  background-size: contain;
  width: 183px;
  height: 180px;
}
/**
 * Swiper 3.2.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: December 7, 2015
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #ffffff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000;
}
.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200px;
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube {
  overflow: visible;
}
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
/* !Global */
html,
body {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color: black;
  background: white;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  text-decoration: none;
}
p {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
strong,
b,
mark,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
i,
em,
address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.ico {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
  speak: none;
}
.btn {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: normal;
  line-height: 1.2;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 100ms ease-in-out, background-color 100ms ease-in-out, border-color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out, background-color 100ms ease-in-out, border-color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out, background-color 100ms ease-in-out, border-color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out, background-color 100ms ease-in-out, border-color 100ms ease-in-out;
  transition: color 100ms ease-in-out, background-color 100ms ease-in-out, border-color 100ms ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn:focus {
  outline: none;
}
.btn:active {
  -webkit-transition: none;
  -o-transition: none;
  -ms-transition: none;
  -moz-transition: none;
  transition: none;
}
.wrapper {
  min-width: 1903px;
  max-width: 1920px;
  height: 1080px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.slider_main {
  height: 810px;
}
.slider_main__item {
  position: relative;
  height: 100%;
  display: none;
  -webkit-transition: opacity 100ms 600ms ease;
  -o-transition: opacity 100ms 600ms ease;
  -ms-transition: opacity 100ms 600ms ease;
  -moz-transition: opacity 100ms 600ms ease;
  transition: opacity 100ms 600ms ease;
}
.slider_main__item_active {
  display: block;
}
.slider_main__item_fade {
  opacity: 0;
}
.slider_nav {
  margin-top: 45px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}
.slider_nav__wrap {
  /*margin-left: auto;
            margin-right: auto;
            overflow: hidden;*/
}
.slider_nav__wrap_loading {
  visibility: hidden;
}
.slider_nav__frame {
  white-space: nowrap;
  text-align: center;
  position: relative;
  /*.display(flex);
            .flex-wrap(nowrap);*/
}
.slider_nav__frame_end {
  -webkit-transition: transform 400ms linear;
  -o-transition: transform 400ms linear;
  -ms-transition: transform 400ms linear;
  -moz-transition: transform 400ms linear;
  transition: transform 400ms linear;
}
.slider_nav__item {
  padding: 0;
  background: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: auto;
  min-height: 184px;
  border: 2px solid transparent;
  padding: 0 28px;
  color: #d62631;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 22px;
  line-height: 104px;
  letter-spacing: 0;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  width: auto;
}
.slider_nav__item,
.slider_nav__item:focus {
  outline: none;
}
.slider_nav__item_active {
  border-color: #d62631;
}
.slider_nav__icon {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -10px;
}
.slider_nav__text {
  line-height: 1.2;
  display: block;
}
.slider_nav__btn {
  padding: 0;
  background: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: auto;
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
  speak: none;
  width: 47px;
  height: 47px;
  background-position: -1701px -5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.slider_nav__btn,
.slider_nav__btn:focus {
  outline: none;
}
.slider_nav__btn_left {
  left: 26.5px;
}
.slider_nav__btn_right {
  right: 26.5px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slider_nav__arrows {
  position: static;
}
.i-icon-big {
  position: absolute;
  right: 465px;
  top: 24px;
  z-index: 2;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  -ms-animation-duration: 400ms;
  -o-animation-duration: 400ms;
  animation-duration: 400ms;
}
.i-icon-big.animated {
  z-index: -1;
}
.i-icon-big.ico-menu_mortgage_big {
  margin-top: -8px;
}
.i-icon-big.ico-menu_deposits_big {
  margin-top: 14px;
}
.i-icon-big.ico-menu_payments_big {
  margin-top: 1px;
}
.i-icon-big.ico-menu_autocredit_big {
  margin-top: 6px;
}
.i-icon-big.ico-menu_autocasco_big {
  margin-top: 19px;
}
.i-icon-big.ico-menu_consumer-credit_big {
  margin-top: -6px;
}
.i-icon-big.ico-menu_pension_big {
  margin-top: -12px;
}
.i-icon-big.ico-menu_microfinance_big {
  margin-top: -13px;
}
.i-circle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  color: #40ab4b;
  margin-top: -11px;
  padding: 64px 110px 100px 34px;
  line-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -ms-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}
.i-circle_center {
  text-align: center;
  padding-left: 10px;
  padding-righ: 80px;
}
.i-circle__text {
  display: inline-block;
  text-align: left;
  line-height: 1.2;
}
.i-coat {
  position: absolute;
  top: 25px;
  right: 56px;
  z-index: 2;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -ms-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-delay: 6500ms;
  -moz-animation-delay: 6500ms;
  -ms-animation-delay: 6500ms;
  -o-animation-delay: 6500ms;
  animation-delay: 6500ms;
}
.i-line {
  position: absolute;
  padding-top: 103px;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -ms-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
}
.i-line__wrap {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.i-line__text {
  color: white;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -ms-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
}
.i-line_want {
  right: 0;
  top: 60px;
  padding-left: 60px;
}
.i-line_want:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 90px;
  background-color: white;
  z-index: 0;
}
.i-line_can {
  left: 0;
  top: 260px;
  text-align: right;
  padding-right: 30px;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.i-line_can__text {
  -webkit-animation-delay: 1500ms;
  -moz-animation-delay: 1500ms;
  -ms-animation-delay: 1500ms;
  -o-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.i-line_know {
  right: 0;
  top: 460px;
  text-align: right;
  padding-right: 45px;
  padding-top: 101px;
  -webkit-animation-delay: 2000ms;
  -moz-animation-delay: 2000ms;
  -ms-animation-delay: 2000ms;
  -o-animation-delay: 2000ms;
  animation-delay: 2000ms;
}
.i-line_know__text {
  position: absolute;
  top: 561px;
  right: 45px;
  -webkit-animation-delay: 2000ms;
  -moz-animation-delay: 2000ms;
  -ms-animation-delay: 2000ms;
  -o-animation-delay: 2000ms;
  animation-delay: 2000ms;
  -webkit-animation-duration: 100ms;
  -moz-animation-duration: 100ms;
  -ms-animation-duration: 100ms;
  -o-animation-duration: 100ms;
  animation-duration: 100ms;
}
.i-line_know__text.animated {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}
.i-contacts {
  position: absolute;
  right: 53px;
  top: 251px;
  width: 287px;
  z-index: 2;
  font-size: 25px;
  -webkit-animation-delay: 6500ms;
  -moz-animation-delay: 6500ms;
  -ms-animation-delay: 6500ms;
  -o-animation-delay: 6500ms;
  animation-delay: 6500ms;
}
.i-contacts__heading {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 14px;
}
.i-contacts__link {
  color: #418243;
  text-decoration: underline;
}
.i-contacts__text {
  color: #418243;
}
.i-contacts__row {
  margin-bottom: 3px;
}
.i-contacts__row:last-child {
  margin-bottom: 0;
}
.i-list {
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: 652px;
  left: 180px;
  z-index: 2;
  color: #40ab4b;
  counter-reset: list 0;
  font-size: 33px;
  max-width: 1090px;
}
.i-list__item {
  position: relative;
  padding-left: 40px;
  -webkit-animation-duration: 100ms;
  -moz-animation-duration: 100ms;
  -ms-animation-duration: 100ms;
  -o-animation-duration: 100ms;
  animation-duration: 100ms;
}
.i-list__item:before {
  counter-increment: list;
  content: counter(list) "";
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #43a34b;
  text-align: center;
  line-height: 33px;
  position: absolute;
  top: 4px;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.i-list__item:nth-child(1) {
  -webkit-animation-delay: 3000ms;
  -moz-animation-delay: 3000ms;
  -ms-animation-delay: 3000ms;
  -o-animation-delay: 3000ms;
  animation-delay: 3000ms;
}
.i-list__item:nth-child(2) {
  -webkit-animation-delay: 3500ms;
  -moz-animation-delay: 3500ms;
  -ms-animation-delay: 3500ms;
  -o-animation-delay: 3500ms;
  animation-delay: 3500ms;
}
.i-list__item:nth-child(3) {
  -webkit-animation-delay: 4000ms;
  -moz-animation-delay: 4000ms;
  -ms-animation-delay: 4000ms;
  -o-animation-delay: 4000ms;
  animation-delay: 4000ms;
}
.i-list__item:nth-child(4) {
  -webkit-animation-delay: 4500ms;
  -moz-animation-delay: 4500ms;
  -ms-animation-delay: 4500ms;
  -o-animation-delay: 4500ms;
  animation-delay: 4500ms;
}
.i-btns {
  position: absolute;
  top: 656px;
  right: 0;
  width: 623px;
}
.i-btns__item {
  margin-bottom: 18px;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -ms-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
}
.i-btns__item:last-child {
  margin-bottom: 0;
}
.i-btns__item:nth-child(1) {
  -webkit-animation-delay: 5500ms;
  -moz-animation-delay: 5500ms;
  -ms-animation-delay: 5500ms;
  -o-animation-delay: 5500ms;
  animation-delay: 5500ms;
}
.i-btns__item:nth-child(2) {
  -webkit-animation-delay: 6000ms;
  -moz-animation-delay: 6000ms;
  -ms-animation-delay: 6000ms;
  -o-animation-delay: 6000ms;
  animation-delay: 6000ms;
}
.i-btns__btn {
  white-space: nowrap;
  padding: 0;
  background: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: auto;
  font-weight: bold;
  color: #43a34b;
  font-size: 34px;
}
.i-btns__btn,
.i-btns__btn:focus {
  outline: none;
}
.i-btns__icon,
.i-btns__text {
  display: inline-block;
  vertical-align: middle;
}
.i-btns__icon {
  margin-right: 21px;
}
.wow.fadeIn,
.wow.fadeInDown,
.wow.slideInDown {
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.wow.slideInRight,
.wow.slideInLeft {
  -webkit-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  -ms-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  transition: transform 400ms ease;
}
.wow.fadeInUp {
  -webkit-transition: none;
  -o-transition: none;
  -ms-transition: none;
  -moz-transition: none;
  transition: none;
}
.anim-out {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}
.anim-out.fadeIn,
.anim-out.fadeInDown,
.anim-out.slideInDown {
  opacity: 0!important;
}
.anim-out.slideInRight {
  -webkit-transform: translate3d(100%, 0, 0) !important;
  -moz-transform: translate3d(100%, 0, 0) !important;
  -ms-transform: translate3d(100%, 0, 0) !important;
  -o-transform: translate3d(100%, 0, 0) !important;
  transform: translate3d(100%, 0, 0) !important;
}
.anim-out.slideInLeft {
  -webkit-transform: translate3d(-100%, 0, 0) !important;
  -moz-transform: translate3d(-100%, 0, 0) !important;
  -ms-transform: translate3d(-100%, 0, 0) !important;
  -o-transform: translate3d(-100%, 0, 0) !important;
  transform: translate3d(-100%, 0, 0) !important;
}
.anim-out.fadeInUp {
  visibility: hidden;
}
.i-popup {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  display: none;
  position: relative;
}
.i-popup__overlay {
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: 0!important;
  -webkit-backface-visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}
.i-popup__overlay .i-popup {
  display: block;
}
.i-popup__bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
}
.i-popup__container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.i-popup__container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.i-popup__content {
  cursor: auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.i-popup__close {
  padding: 0;
  background: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: auto;
  position: absolute;
  color: white;
  left: 100%;
  bottom: 100%;
  margin-bottom: 0px;
  font-size: 40px;
  line-height: 20px;
}
.i-popup__close,
.i-popup__close:focus {
  outline: none;
}
